<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
</head>
<body>
    <header>
        <h1>Bienvenido a mi Aplicacion de Analisis de datos</h1>
    </header>
    <main>
        <form action="{{url_for('createUser')}}" method="POST" class="formulario">
            <h2>Registro en la Aplicacion</h2>
            <input type="text" name="id" id="id" placeholder="id"/>
            <input type="text" name="fullname" id="fullname" placeholder="fullname"/>
            <input type="text" name="phone" id="phone"placeholder="phone"/>
            <input type="text" name="gmail" id="gmail" placeholder="gmail"/>
            <input type="submit" value="Enviar">
        </form>
    </main>
    <footer>
        <p>M14</p>
    </footer>
</body>
</html>